/Application/backup/
/backup/
backup
/Application/lib/
/Application/coperatice2024.o
/Application/coperatice2024.out
/Application/Adherents/backup/
/Application/Responsables/backup/
/Application/Cotisations/backup/
/Application/Principale/backup/
/Application/DM/backup/
/Application/Tarifs/backup/

